h1 {
    text-align: center;
    background-color: rgba(193, 76, 76, 0.88);
}

body {
    background-color: rgb(222, 152, 152);

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h2 {
    background-color: rgba(193, 76, 76, 0.88);
}
