h1 {
    text-align: center;
    background-color: rgba(240, 105, 105, 0.88);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    box-shadow: 0px 0px 15px rgb(193, 76, 76, 0.88);
    border-radius: 50%;
    border: 5px solid rgba(214, 75, 75, 0.88);
}

body {
    background-color: rgb(222, 152, 152);

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h2 {
    background-color: rgba(240, 105, 105, 0.88);
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 22%;
    box-shadow: 0px 0px 15px, rgb(193, 76, 76, 0.88);
    border-radius: 50%;
    border: 5px solid rgb(214, 75, 75, 0.88);
}

p {
    text-align: center;
}

button {
    background-color: rgb(240, 105, 105, 0.88);
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    box-shadow: 0px 0px 15px, rgb(193, 76, 76, 0.88);
    border-radius: 50%;
    border: 5px solid rgb(214, 75, 75, 0.88);
}