body {
    background-color: rgb(245, 245, 156);
}

h1 {
    text-align: center;
    background-color: rgb(246, 246, 70);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 29%;
}

h3 {
    background-color: rgb(240, 240, 57);
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

p, p1 {
    text-align: center;
}