body {
    background-color: rgb(245, 245, 156);
}

h1 {
    text-align: center;
}

h1, h2 {
    background-color: rgb(240, 240, 57);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}