

h1 {
    text-align: center;
    background-color: rgb(189, 241, 204);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    box-shadow: 0px 0px 15px black;
    border-radius: 50%;
    border: 5px solid rgb(120, 177, 120);
}

h3 {
    text-align: center;
    display: block;
    background-color: rgb(184, 239, 199);
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-shadow: 0px 0px 15px black;
    border-radius: 50%;
    border: 5px solid rgb(120, 177, 120);
}

p {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    background-color: rgb(184, 239, 199);
    box-shadow: 0px 0px 15px black;
    border-radius: 50%;
    border: 5px solid rgb(120, 177, 120);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}